@tailwind base;
@tailwind components;
@tailwind utilities;

body { margin: 0; padding: 0; overflow: hidden; background-color: #0f172a; }

.custom-scrollbar::-webkit-scrollbar { width: 6px; }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #cbd5e1; border-radius: 10px; }